* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.loginContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
}

.loginDiv {
    display: flex;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row-buttons {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-radius: 30px;
    margin-bottom: 25px;
}

.loginbtn {
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-radius: 40px;
    background-color: #431262;
    cursor: pointer;
    color: #edeef0;
}

#loginbtnl {
    margin-right: 100px;
}

.loginbtn:hover {
    background-color: #153677;
}

.lbl {
    color: floralwhite;
}

.logoutCont {
    width: 540px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.logout {
    background: #4e085f;
    color: #193ed1;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 50px;

}

.logout:hover {
    background-color: #aa100d;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
}

.usernameCont {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 540px;
    align-self: flex-end;
    margin-top: 50px;
    margin-bottom: none;
    margin-right: 150px;
    font-size: 16px;
}

#username {
    font-size: 16px;
    color: #193ed1;
}

.toDoApp {
    height: 50%;
    width: 100%;
    max-width: 540px;
    background: #0f1e29;
    margin: 50px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.toDoApp h2 {
    color: #072e6c;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.alert {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background: white;
    color: red;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #383f4b;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.textBox {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #193ed1;
    font-weight: 14px;
    font-size: 15px;
}

.button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.delete {
    border: none;
    outline: none;
    margin-left: 200px;
    margin-bottom: 20px;
    border-radius: 40px;
    background-color: #431262;
    cursor: pointer;
}

.delete:hover {
    background-color: #153677;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #4e085f;
}

ul li:hover {
    background: #4e085f;
}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(slike/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(slike/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

.updateBtn {
    border: none;
    outline: none;
    margin-left: 20px;
    border-radius: 40px;
    background-color: #153677;
    cursor: pointer;
}

.updateBtn:hover {
    background-color: #ff5945
}